
.icon-chat-alt:before { content: '\e0ac'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */